<div id='merchandising-container' class="merchandising-container">
  <ul>
    <li *ngFor="let item of spongebobclothes" (click)="openItem(item)">
      <img src="{{ item.img }}" alt="{{ item.model }}" />
      <p id="itemModel">{{ item.model }}</p>
      <p>{{ item.prize }} €</p>
    </li>
  </ul>
</div>
<div id="item" class="item">
  <h1 id="model"></h1>
  <img id="img" src="" alt="itemOpened" />
  <p id="prize"></p>
  <app-sizeselector></app-sizeselector>
  <div class="buttons">
    <button class="addToTheCart">ADD TO THE CART</button>
    <button class="buyNow">BUY NOW</button>
  </div>
  <button id="closeButton" (click)="closeItem()">Close</button>
</div>
