<div class="mobile-menu-container">
  <div class="logo">
    <img src="../../assets/images/spongebob-logo.png" alt="logo" />
  </div>
  <ul>
    <li routerLink="/">HOME</li>
    <li routerLink="/episodes">EPISODES</li>
    <li routerLink="/merchandising">MERCHANDISING</li>
    <li routerLink="/contact">CONTACT</li>
    <li id="searchLi">
      <input type="text" placeholder="Search..." />
      <div class="searchButton">
        <img src="../../assets/icons/search.png" alt="search" />
      </div>
    </li>
  </ul>
</div>
