.container-navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px rgba(32, 32, 32, 0.123);
}
.buttons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
}
